In [17]:
import pandas as pd

In [19]:
df_2013_2015 = pd.read_excel('2013-2015.xlsx',
                        header = [0, 1, 2])

In [20]:
df_2010_2012 = pd.read_excel('2010-2012.xlsx',
                        header = [0, 1, 2])

In [21]:
df_2007_2009 = pd.read_excel('2007-2009.xlsx',
                        header = [0, 1, 2])

In [22]:
df_2004_2006 = pd.read_excel('2004-2006.xlsx',
                        header = [0, 1, 2])

In [23]:
df_2001_2003 = pd.read_excel('2001-2003.xlsx',
                        header = [0, 1, 2])

In [30]:
df_1998_2000 = pd.read_excel('1998-2000.xlsx',
                        header = [0, 1, 2])

In [28]:
df_1995_1997 = pd.read_excel('1995-1997.xlsx',
                        header = [0, 1, 2])

In [29]:
df_1993_1994 = pd.read_excel('1993-1994.xlsx',
                        header = [0, 1, 2])

In [32]:
display(df_1993_1994.head())

            Provinsi Produktivitas (Kuintal/Hektar)                       \
  Unnamed: 0_level_1                           Padi        Jagung
  Unnamed: 0_level_2                           1993   1994   1993   1994
0               ACEH                          40.17  40.41  21.70  21.81
1     SUMATERA UTARA                          38.67  38.86  22.23  22.13
2     SUMATERA BARAT                          45.80  45.66  22.00  22.86
3               RIAU                          29.86  30.47  21.23  21.49
4              JAMBI                          30.46  30.69  15.42  14.49

                                                                         \
  Kedelai        Kacang tanah        Kacang Hijau      Ubi Kayu
     1993   1994         1993   1994         1993 1994     1993    1994
0   11.12  11.36        11.37  12.34            -    -   124.00  124.00
1   10.27  10.14        10.08  10.21            -    -   120.00  120.00
2    9.65   9.56         9.54   9.87            -    -   123.00  121.00
3   10.06  10.15        10.39   9.06            -    -   112.00  101.00
4    8.96   8.02        10.88   8.13            -    -   102.00   97.00


  Ubi Jalar
       1993    1994
0     91.00  102.00
1     89.00   89.00
2     98.00  112.00
3     70.00   72.00
4     80.00   80.00

In [37]:
plt.figure(figsize=(15,10))
plt.plot(display['df'], color='blue')
plt.show()

TypeError: 'function' object is not subscriptable